.wrapper {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 214px;
  background-size: 308px 168px;
  background-image: url(/src/images/picture.png);
}

.logo {
  position: absolute;
  display: block;

  height: auto;
  max-width: 100%;
  top: 20px;
  left: 20px;
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.ellipse {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 80px;
  height: 80px;
  border: 8px solid rgb(235, 216, 255);
  border-radius: 50%;
  z-index: 20;
  background: linear-gradient(
    114.99deg,
    rgb(71, 28, 169) -0.99%,
    rgb(87, 54, 163) 54.28%,
    rgb(75, 42, 153) 78.99%
  );
}
.ellipse::before {
  content: '';
  position: absolute;

  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4.39163px 4.39163px,
    rgb(174, 123, 227) 0px -2.19582px 4.39163px inset,
    rgb(251, 248, 255) 0px 4.39163px 3.29372px inset;
}

.avatarBox {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 62px;
  height: 62px;
}
.avatar {
  width: 100%;
  height: 100%;
}
.context {
  position: relative;
  padding: 62px 64px 26px;
}
.context::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgb(235, 216, 255);
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #ae7be3,
    inset 0px 3.43693px 2.5777px #fbf8ff;
  height: 8px;
  width: 100%;
  z-index: 2;
}
.text {
  text-transform: uppercase;
  margin: 0;
  font-family: Montserrat, sans-serif;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ebd8ff;
}
.text:not(:last-child) {
  margin-bottom: 16px;
}
.wrapperBtn {
  display: flex;
  align-items: center;
  padding: 8px 92px 36px;
}
.button {
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  padding: 14px 28px;
  width: 196px;

  border-radius: 10px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #373737;
  text-transform: uppercase;

  transition: 300ms background ease-in-out;
}
.button:hover {
  background: rgba(185, 248, 225, 0.797);
}
.active {
  composes: button;
  background: #5cd3a8;
}
