.box {
  text-align: center;
  width: 380px;
  height: 460px;
  border-radius: 20px;
  background: linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}
.wrapper {
  height: 214px;
}
.wrapperImg {
  position: relative;
}
.logoBox {
  position: absolute;
  left: 20px;
  top: 20px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.pictureBox {
  position: absolute;
  top: 28px;
  left: 36px;
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8px;
  width: 380px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #ae7be3,
    inset 0px 3.43693px 2.5777px #fbf8ff;
}
.ellipse {
  position: relative;

  border-radius: 86px;
  z-index: 1;
}
.avatarBox {
  position: absolute;

  border-radius: 86px;
  background: linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
}
.context {
  margin-top: 62px;
}
.text {
  text-transform: uppercase;
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ebd8ff;
}
.text:not(:last-child) {
  margin-bottom: 16px;
}
.button {
  padding: 14px 28px;
  width: 196px;
  border: 0;
  border-radius: 10.3108px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #373737;
  text-transform: uppercase;
  margin-top: 25px;
}
.active {
  composes: button;
  background: #5cd3a8;
}
